<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Create or Edit To-Do</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="../static/js/delete.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ToDo-App</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">ToDo List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-todo">Create ToDo</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 th:text="${toDo != null} ? 'Edit To-Do' : 'Create To-Do'"></h1>
        <form th:action="@{${toDo != null} ? '/update-todo' : '/save-todo'}" method="post">
            <input type="hidden" name="id" th:value="${toDo != null} ? ${toDo.id} : ''" />
            <div class="form-group">
                <label for="user">User</label>
                <select name="userId" id="user" class="form-control">
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}" th:selected="${toDo != null && user.id == toDo.user.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control" th:value="${toDo != null} ? ${toDo.title} : ''" />
            </div>
            <div class="form-group">
                <label for="completed">Completed</label>
                <select name="completed" id="completed" class="form-control">
                    <option value="false" th:selected="${toDo != null && !toDo.completed}">Not Completed</option>
                    <option value="true" th:selected="${toDo != null && toDo.completed}">Completed</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div th:if="${error}" th:class="${error.getColor()}" role="alert">
            <p th:text="${error.getText()}"></p>
        </div>
    </div>
</body>
</html>
